#Reading the Dataset

In [1]:
import pandas as pd
import numpy as np
DataSet = pd.read_csv("summer.csv")

#### 1. In how many cities Summer Olympics is held so far?

In [2]:
cities = DataSet['City'].unique()

print("The Number of cities in which Summer Olympics are held is:", len(cities))

The Number of cities in which Summer Olympics are held is: 22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [88]:
gold_medals = []
gold = DataSet[DataSet['Medal'] == "Gold"]
for sport in DataSet['Sport'].unique():
    gold_medals.append([sport, len(gold[gold['Sport'] == sport])])

#Converting the gold_medals list to DataFrame

display = pd.DataFrame(gold_medals, columns = ['Sports', 'Gold Medals'])
display.sort_values(by = "Gold Medals", ascending=False).head()

        Sports  Gold Medals
0     Aquatics         1421
1    Athletics         1215
17      Rowing          890
4   Gymnastics          820
3      Fencing          552

### 3. Which sport is having most number of medals so far? (Top 5)

In [103]:
medals = []
for sport in DataSet['Sport'].unique():
    medals.append([sport, len(DataSet[DataSet['Sport'] == sport])])

#Converting the gold_medals list to DataFrame

display = pd.DataFrame(medals, columns = ['Sports','Medals'])
display.sort_values(by = "Medals", ascending=False).head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
48,1896,Athens,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,Individual Road Race,Bronze
49,1896,Athens,Cycling,Cycling Road,"KONSTANTINIDIS, Aristidis",GRE,Men,Individual Road Race,Gold
50,1896,Athens,Cycling,Cycling Road,"GOEDRICH, August",GER,Men,Individual Road Race,Silver
51,1896,Athens,Cycling,Cycling Track,"FLAMENG, LÃ©on",FRA,Men,100KM,Gold
52,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100KM,Silver
...,...,...,...,...,...,...,...,...,...
30076,2012,London,Cycling,Mountain Bike,"SCHURTER, Nino",SUI,Men,Cross-Country,Silver
30077,2012,London,Cycling,Mountain Bike,"FONTANA, Marco Aurelio",ITA,Men,Cross-Country,Bronze
30078,2012,London,Cycling,Mountain Bike,"BRESSET, Julie",FRA,Women,Cross-Country,Gold
30079,2012,London,Cycling,Mountain Bike,"SPITZ, Sabine",GER,Women,Cross-Country,Silver
30080,2012,London,Cycling,Mountain Bike,"GOULD, Georgia",USA,Women,Cross-Country,Bronze