#Reading the Dataset

In [1]:
import pandas as pd
import numpy as np
DataSet = pd.read_csv("summer.csv")

#### 1. In how many cities Summer Olympics is held so far?

In [2]:
cities = DataSet['City'].unique()

print("The Number of cities in which Summer Olympics are held is:", len(cities))

The Number of cities in which Summer Olympics are held is: 22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [88]:
gold_medals = []
gold = DataSet[DataSet['Medal'] == "Gold"]
for sport in DataSet['Sport'].unique():
    gold_medals.append([sport, len(gold[gold['Sport'] == sport])])

#Converting the gold_medals list to DataFrame

display = pd.DataFrame(gold_medals, columns = ['Sports', 'Gold Medals'])
display.sort_values(by = "Gold Medals", ascending=False).head()

        Sports  Gold Medals
0     Aquatics         1421
1    Athletics         1215
17      Rowing          890
4   Gymnastics          820
3      Fencing          552